## Import modules

In [1]:
from datetime import datetime, timedelta

import datetime as dt
import pandas as pd
import requests

## Load dataset

In [4]:
df = pd.read_excel("data/parking_data.xls")
df.head()

            date_time parking_zone
0 2021-04-19 20:39:00       Zone 1
1 2021-04-20 09:12:00       Zone 1
2 2021-04-20 20:38:00       Zone 1
3 2021-04-21 08:53:00       Zone 1
4 2021-04-21 18:41:00       Zone 1

In [5]:
len(df)

312

## Feature engineering

In [6]:
# Extract various features from `date_time`
df['year'] = df['date_time'].dt.year
df['month'] = df['date_time'].dt.month
df['day'] = df['date_time'].dt.day
df['day_of_week'] = df['date_time'].dt.weekday
df['hour'] = df['date_time'].dt.hour
df['minute'] = df['date_time'].dt.minute
df['date'] = df['date_time'].dt.date
df['time'] = df['date_time'].dt.strftime('%H:%M')
df['hour_min'] = round(df['hour'] + (df['minute'] / 60), 1)

# Replace numbers by names of the months
df['month'].replace({1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun',
                     7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}, inplace=True)

# Replace numbers by days of the week
df['day_of_week'].replace({0: 'Mon', 1: 'Tue', 2: 'Wed', 3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}, inplace=True)
    
# Rearrange columns
df = df[['date', 'time', 'year', 'month', 'day', 'day_of_week', 'hour', 'minute', 'hour_min', 'parking_zone']] 

# Sanity check
df.head()

,date,time,year,month,day,day_of_week,hour,minute,hour_min,parking_zone
0,2021-04-19,20:39,2021,Apr,19,Mon,20,39,20.6,Zone 1
1,2021-04-20,09:12,2021,Apr,20,Tue,9,12,9.2,Zone 1
2,2021-04-20,20:38,2021,Apr,20,Tue,20,38,20.6,Zone 1
3,2021-04-21,08:53,2021,Apr,21,Wed,8,53,8.9,Zone 1
4,2021-04-21,18:41,2021,Apr,21,Wed,18,41,18.7,Zone 1